@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --darkgrey: #363636;
  --backgroundnav: #252527;
  --hover: #5cb7fd;
  --text: #fff;
  --border: #1c3b58;
}
body {
  background-color: #fff;
}
main {
  height: 110px;
  max-width: 1027px;
  width: 95%;
  margin: 35px auto;
}
nav {
  border-bottom: 1px solid var(--border);
  width: 100%;
  max-width: 980px;
}
nav ul {
  display: flex;
  align-items: center;
  background-color: var(--darkgrey);
}
nav ul li {
  background-color: var(--backgroundnav);
}
nav ul li a {
  display: block;
  font-size: 19px;
  height: 35px;
  line-height: 35px;
  color: var(--text);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  padding: 3px 14px;
  margin-right: 1px;
  background-color: var(--darkgrey);
  text-align: center;
  transition: all 300ms;
}
nav ul li:nth-of-type(1) a {
  color: var(--hover);
  padding-top: 6px;
}
nav ul li:nth-of-type(7) a,
li:nth-of-type(8) a,
li:nth-of-type(9) a,
li:nth-of-type(10) a {
  color: var(--hover);
  padding: 3px 13px 3px 0px;
  margin-right: 0;
  font-size: 16px;
}
nav ul li:nth-of-type(7) {
  margin-left: auto;
}
nav ul li a:hover {
  color: var(--hover);
}
nav ul li:nth-of-type(1) a:hover,
li:nth-of-type(7) a:hover,
li:nth-of-type(8) a:hover,
li:nth-of-type(9) a:hover,
li:nth-of-type(10) a:hover {
  color: var(--text);
}
